* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 17px;
    min-height: 100vh;

}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}

section h2 {
    color: #0083a8;
    background-color: #1d1a15;
    font-family: "Sedan SC", serif;
}
hr{
    color: #acd8e4;
    width: 90%;
    margin: auto;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1d1a15;
}

header div {
    display: flex;
    align-items: center;
    background-color: #1d1a15;
}

header div h1 {
    font-size: 2.3rem;
}

header img {
    width: 100px;
    height: auto;
    margin: 3%;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 15px #acd8e4;
    /* Shadow effect */
}

header h1 {
    color: #0083a8;
    font-family: "Sedan SC", serif;
}

nav {
    margin: 1rem auto;
}

#menu {
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    background: none;
    color: #acd8e4;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    background-color: #acd8e4;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #0083a8;
}

.navigation a:hover {
    color: #1d1a15;
    font-weight: 700;
}

section {
    border-radius: 10px;
    box-shadow: 0 8px 30px #1d1a15;
}

.open a {
    display: block;
}

.active::after {
    content: " 🎯";
}

.card {
        background-color: #0083a8;
        border: 1px #1d1a15 solid;
        border-radius: 10px;
        margin: 2rem;
        padding: 0px;
    }


.card h2 {
    border: 1px #1d1a15 solid;
    border-radius: 10px;
    margin: 0px;
    padding: 2%;
}

#card2 h2 {
    height: 3rem;
    padding: 1rem;
}

.dotted-list {
    margin: 5%;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.item {
    color: #0083a8;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 1px 2px #1d1a15;
    font-size: 12px;
    padding: 10px;

}

#card2 figure img {
    width: 80%;
    height: auto;
    margin: 10px;
}

figure {
    padding: .5rem;
    text-align: center;
}

#card3 {
    text-align: center;
}

.programs {
    display: flex;
    justify-content: center;
}

.programs .item {
    margin: .5rem;
    padding: .5rem;
    width: 8rem;
    background-color: #c99755;
    color: #1d1a15;
}

.programs_2 .item {
    margin: 1rem;
    padding: .5rem;
    background-color: #acd8e4;
}

.programs_2 .item:nth-child(4),
.programs_2 .item:nth-child(6) {
    background-color: #c99755;
    color: #1d1a15;
}

.programs_2 .item:nth-child(4):hover,
.programs_2 .item:nth-child(6):hover {
    color: #0083a8;
}

.programs .item:hover {
    color: #0083a8;
}

a:hover,
.item:hover {
    color: #c99755;
}

footer {
    background-color: #acd8e4;
    height: 50px;
}

footer p {
    text-align: center;
    color: #0083a8;
    margin: 0;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 0px;
        padding: 20px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navigation a {
        display: flex;
        flex: 1 1 100%;
        padding: 1rem;
        justify-content: center;
    }

    header div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        margin: 0 auto;
        text-align: left;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 0;
    }

    #card1 {
        grid-column: 1 / 4;
    }

    #card2 {
        grid-column: 4 / 6;
    }

    #card3 {
        grid-column: 1 / 6;
        grid-row: 2/3;
    }

    .card {
        background-color: #0083a8;
        border: 1px #1d1a15 solid;
        border-radius: 10px;
        margin: 1rem;
        padding: 0px;
    }

    .dotted-list {
        margin-left: 5%;
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    h2 {
        font-size: 15px;
        margin-top: 0px;
        padding: 20px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .programs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 600px;
        margin: auto;
        padding: 10px;
        text-align: center;
    }

    .programs_2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 800px;
        margin: auto;
        padding: 20px;
    }

    .container2 {
        display: flex;
        align-items: center;
        padding: 10px;
    }
}