body{
    font-size: 17px;;
    color:#000080;
    font-family: "Teachers", sans-serif;
    
}
header div{
    display: flex;  
    justify-content: center;
}
header img{
    width: 100px; 
    height: auto; 
    margin: 1%;
}
header h1{
    color: #f0f0f0;
    font-family: "Sedan SC", serif;
}
nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #020220;
}
a{
    text-decoration: none;
    color: #000080;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 30px;
    padding-bottom: 0px;
   
  }
main{
    max-width: 99%;
    margin: 0 auto; 
    text-align: left; 
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-bottom: 0;
}
.card{
    background-color: #f0f0f0;
    border: 1px #000080 solid;
    border-radius: 10px;
    margin: 5px;
}
h2{
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    background-color: #000080;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#card1{
    grid-column: 1 / 2;
}
#card2{
    grid-column: 2 / 3;
}
#card3{
    grid-column: 1 / 3;
    grid-row: 2/4;
}
#card2 figure img {
    width: 80%; 
    height: auto; 
    margin-right: 10px; 
}

  a:hover {
    background-color: #555;
  }

header, footer{
    background-color: #000080;
    
}
footer{
    height: 50px;
}
footer p{
    text-align: center;
    color: #f0f0f0;
    margin: 0;
}

section h2{ 
    color:#ffffff;
    font-family: "Sedan SC", serif;
}
.container2 {
    display: flex; 
    align-items: center; 
    padding: 10px;
}

figure{
    text-align: center;
}
.container2 .text {
    font-size: 28px; 
}
